* {
    margin: 0px;
    padding: 0px;
}

header {
    padding: 2%;
    margin-bottom: 2%;
    text-align: left;
    color: black;
}

.hr-title {
    margin-left: 10%;
    margin-right: 50%;
}

.icon {
    height: 20px;
    width: 20px;
}

.btn-dark {
    text-align: left;
    margin-left: 80%;
    width: 13%;
}

.btn-light {
    background-color: whitesmoke;
    text-align: left;
    margin-top: 2px;
    margin-left: 80%;
    width: 15%;
}

.extra {
    text-align: left;
    margin-top: 2px;
    width: 15%;
}

.title {
    margin-left: 10%;
    margin-bottom: 2%;
}

img {
    width: 200px;
}

.home {
    display: flex;
    flex-wrap: wrap;
}

form {
    align-content: center;
    align-items: center;
    text-align: center;
}

.container {
    text-align: center;
}

.input-group-text {
    text-align: center;
    margin-left: calc(10%);
}

.form-control {
    margin-right: calc(10%);
}

.alert-success {
    text-align: center;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
}

.alert-danger {
    text-align: center;
    margin-top: 2%;
    margin-left: 40%;
    margin-right: 40%;
}

.footer a {
    margin-right: 2%;
    margin-left: 2%;
}

.footer h4 {
    font-size: 20px;
}

footer {
    margin-top: 23%;
    text-align: center;
    font-size: 15px;
}